@model proyectoTienda.Models.Categoria

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div class="container mt-4"></div>
    <h1>Agregar Categoría</h1>

    <form asp-action="AgregarCategoria" method="post">
        <input type="hidden" name="IDCategoria" value="@Model.IDCategoria" />

        <div class="mb-3">
            <label for="Nombre" class="form-label">Nombre</label>
            <input type="text" class="form-control" id="Nombre" name="Nombre" value="@Model.Nombre" required />
        </div>

        <div class="mb-3">
            <label for="Descripcion" class="form-label">Descripción</label>
            <textarea class="form-control" id="Descripcion" name="Descripcion" required>@Model.Descripcion</textarea>
        </div>

        <button type="submit" class="btn btn-primary">Guardar cambios</button>
        <a asp-controller="Admin" asp-action="Categoria" class="btn btn-danger">Cancelar</a>
    </form>
</div>
</body>
</html>


